In [31]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [32]:
data = pd.read_csv('Titanic-Dataset.csv')

In [33]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [36]:
data.shape

(891, 12)

<h2>Conclusion -</h2>
<p>
Quantitative Features - PassengerId, Survived, Pclass, Age, SibSp, Parch, Fare
Categorical Features - Name, Gender, Ticket, Cabin, Embarked
</p>

In [37]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [38]:
data = data.drop('Cabin',axis=1)
data = data.dropna()

In [39]:
data.shape

(712, 11)

In [40]:
mean_age = np.mean(data['Age'])
print("Mean Age of Passengers is - ",mean_age)

Mean Age of Passengers is -  29.64209269662921

In [41]:
mean_fare = np.mean(data['Fare'])
print("Mean Fare is - ",mean_fare)

Mean Fare is -  34.567251404494385

In [42]:
median_age = np.median(data['Age'])
print("Median value of Age -", median_age)

Median value of Age - 28.0

In [43]:
median_fare = np.median(data['Fare'])
print("Median value of Fare -", median_fare)

Median value of Fare - 15.64585

In [46]:
from scipy import stats as st

In [47]:
mode_age = st.mode(data['Age'])
print("Mode value of Age -", mode_age)

Mode value of Age - ModeResult(mode=24.0, count=30)

In [48]:
mode_class = st.mode(data['Pclass'])
print("Mode value of PClass -", mode_class)

Mode value of PClass - ModeResult(mode=3, count=355)

In [51]:
mode_gender = st.mode(data['Survived'])
print("Mode of Feature Gender -", mode_gender)

Mode of Feature Gender - ModeResult(mode=0, count=424)

In [52]:
data2 = pd.read_csv('bestsellers with categories.csv')

In [53]:
data2.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [55]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [58]:
data2.isnull().any()

Name           False
Author         False
User Rating    False
Reviews        False
Price          False
Year           False
Genre          False
dtype: bool

In [59]:
mean_rating = np.mean(data2['User Rating'])
mean_rating

4.618363636363637

In [60]:
median_rating = np.median(data2['User Rating'])
median_rating

4.7

In [61]:
mean_reviews = np.mean(data2['Reviews'])
mean_reviews

11953.281818181818

In [62]:
median_reviews = np.median(data2['Reviews'])
median_reviews

8580.0

In [64]:
mode_reviews = st.mode(data2['Reviews'])
mode_reviews

ModeResult(mode=8580, count=10)

In [65]:
mean_price = np.mean(data2['Price'])
mean_price

13.1

In [66]:
median_price = np.median(data2['Price'])
median_price

11.0

In [67]:
mode_price = st.mode(data2['Price'])
mode_price

ModeResult(mode=8, count=52)