In [1]:
#Print a Sentence 
print("Welcome to the world of programming!")

#Print a Number
print(4)

#Next Line after print
print("Hello Python \n")

Welcome to the world of programming!
4
Hello Python

In [2]:
#Print all the keywords present in Python
print("Keywords in Python are....")
import keyword
print(keyword.kwlist)

Keywords in Python are....
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
name = "Penguin"
age = 15
is_student = True
weight = 38.5

In [4]:
print("Name :", name)
print("Data Type of Name is", type(name))

Name : Penguin
Data Type of Name is <class 'str'>

In [5]:
print("Age :", age)
print("Data Type of Age is", type(age))

Age : 15
Data Type of Age is <class 'int'>

In [6]:
print("is_student :", is_student)
print("Data Type of is_student is", type(is_student))

is_student : True
Data Type of is_student is <class 'bool'>

In [7]:
print("Weight :", weight)
print("Data Type of weight is", type(weight))

Weight : 38.5
Data Type of weight is <class 'float'>

In [8]:
print("\n After Type Casting....")
age = str(age)
print(age)
print("Data Type of age is", type(age))

 After Type Casting....
15
Data Type of age is <class 'str'>

In [9]:
weight = int(weight)
print(weight)
print("Data Type of Weight is", type(weight))

38
Data Type of Weight is <class 'int'>

In [10]:
num1 = 45
num2 = 3

In [11]:
print("Number 1", num1)
print("Number 2", num2)

Number 1 45
Number 2 3

In [12]:
print("Addition :", num1+num2)
print("Difference :", num1-num2)
print("Product :", num1*num2)
print("Division :", num1/num2)

Addition : 48
Difference : 42
Product : 135
Division : 15.0

In [13]:
print("Floor Division :", num1//num2)
print("Modulus Operation :", num1%num2)
print("Square :", num2**2)
print("Square Root :", num1**0.5)

Floor Division : 15
Modulus Operation : 0
Square : 9
Square Root : 6.708203932499369

In [14]:
print("Equal ?", num1==num2)
print("Number 1 greater?", num1>num2)
print("Number 2 greater?", num1<num2)
print("Not Equal ?", num1!=num2)

Equal ? False
Number 1 greater? True
Number 2 greater? False
Not Equal ? True

In [15]:
result = num1/2+num2**2+10
print("Result of given equation is:", result)

Result of given equation is: 41.5

In [16]:
first_name = "Codingal"
last_name = "Educations"
full_name = first_name+last_name
example = "Haa"*5

In [17]:
print("First Name :", first_name)
print("Last Name :", last_name)
print("Full Name :", full_name)

First Name : Codingal
Last Name : Educations
Full Name : CodingalEducations

In [18]:
print("String Multiplied 5 times gives this result :", example)

String Multiplied 5 times gives this result : HaaHaaHaaHaaHaa

In [19]:
word = 'Coding'
print("Length of String :", len(word))
print("First Letter of String :", word[0])
print("Last Letter of String :", word[5])
print("String Sliced :", word[0:3])

Length of String : 6
First Letter of String : C
Last Letter of String : g
String Sliced : Cod

In [21]:
#Take input values from user
x = input("Enter Value of x:")
y = input("Enter Value of y:")

Enter Value of x:5
Enter Value of y:101

In [22]:
# Swapping
temp = x
x = y
y = temp

In [23]:
# Displaying results after swapping
print("value of x after swapping", x)
print("value of y after swapping", y)

value of x after swapping 101
value of y after swapping 5

In [24]:
x = 5
y = 9
z = 1

print("Before swapping :")
print("x =",x)
print("y =",y)
print("z =",z)

Before swapping :
x = 5
y = 9
z = 1

In [25]:
temp1 = z
z = y
y = x
x = temp1

print("\nAfter swapping :")
print("x =",x)
print("y =",y)
print("z =",z)

After swapping :
x = 1
y = 5
z = 9

In [26]:
number = int(input("Enter Number to check"))
print("Number to be checked :", number)

if number%2==0 :
    print("This is an even number")

else:
    print("This is an odd number")

Enter Number to check22
Number to be checked : 22
This is an even number

In [27]:
nd = int(input("Enter total number of working days"))
na = int(input("Enter number of days  absent"))

per=(nd-na)/nd*100

Enter total number of working days365
Enter number of days  absent25

In [28]:
print("Your attendance is ",per)
if per <75 :
     print("You are not eligible for exams")
else:
     print("You are eligible for writing exam")

Your attendance is  93.15068493150685
You are eligible for writing exam

In [31]:
num = 23
print("Table of 23")
for i in range(1,11):
    mul = num*i
    print(f"23 x {i} = {mul}")

Table of 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

In [32]:
n = int(input("enter number of rows"))

enter number of rows6

In [33]:
for i in range(0, n):
    for j in range(0, i+1):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

In [34]:
num = 1
sum = 0
while(num<=10):
    sum = sum+num
    num = num+1

print("Sum of First 10 Natural Numbers :", sum)

Sum of First 10 Natural Numbers : 55

In [35]:
def intro(name):    
    print("Hello, Good morning! I am", name)

In [36]:
user_name = input("Enter your name")
intro(user_name)

Enter your nameSrini
Hello, Good morning! I am Srini